.main {
  display: flex;
  gap: 40px;
  padding: 20px 50px;
}

.container {
  max-width: 1000px;
  width: 100%;
}

.userList {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  flex-wrap: wrap;
}

.searchBlock {
  display: flex;

  &-input {
    border-radius: 20px;
    border: 2px #0000001C solid;
    height: 55px;
    font-size: 20px;
    color: #b2b2b2;
    font-weight: 400;
    padding-left: 60px;
    width: 80%;

    &__wrapper {
      position: relative;
      flex: 4;
    }

    &__loop {
      position: absolute;
      top: 20px;
      left: 25px;
    }
  }

  &-select {
    flex: 1;
    min-height: 55px;
    border-radius: 20px;
    border: 2px #0000001C solid;
    font-size: 20px;
    color: #b2b2b2;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__currentStatus {
      display: flex;
      align-items: center;
      gap: 10px;

      .statusHint {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}

.optionItem {
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  color: #b2b2b2;
  width: 100%;
  padding: 10px;
  border-radius: 20px;

  &:hover {
    background-color: rgba(218, 218, 218, 0.38);
  }

  &.active {
    background-color: #B2B2B261;
  }

}
