.user {
  width: 320px;
  border: 2px #e3e3e3 solid;
  border-radius: 27px;
  padding: 37px 45px;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  &.selected {
    background-color: #d5d5d5;
    border: none;
  }

  &__name {
    color: #545454;
  }
  &__id {
    color: #b2b2b2;
    margin-top: 10px;
  }
  &__status {
    color: #838383;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;

    &-outerCircle {
      width: 14px;
      height: 14px;
      border: 1px #b2b2b2 solid;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-innerCircle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
  &__email {
    margin-top: 10px;
    color: #838383;
  }
}
